<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Jp comprehension report</title>

</head>

<body>
<main role="main" class="container">
    <table style="border: 2px solid black">
        <tbody style="border: 2px solid black">

        <tr style="border: 2px solid black">
            <td>Total page vocab</td>
            <td>Total unknown page vocab</td>
            <td>Total known page vocab</td>
            <td>Total percentage unknown</td>
        </tr>
        <tr style="border: 2px solid black">
            <td></td>
            <td></td>
            <td></td>
            <td th:text="${knownPercentage}"></td>
        </tr>
        <tr th:each="i : ${#numbers.sequence(0, #lists.size(pageWords))}" style="border: 2px solid black">
            <td th:if="${#lists.size(pageWords)} > ${i} and ${#lists.size(pageWords)} != 0"
                th:text="${pageWords[i]}"></td>
            <td th:if="${#lists.size(unknownWords)} > ${i} and ${#lists.size(unknownWords)} != 0"
                th:text="${unknownWords[i]}"></td>
            <td th:if="${#lists.size(knownWords)} > ${i} and ${#lists.size(knownWords)} != 0"
                th:text="${knownWords[i]}"></td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>